.grid-listing-column-actions select {
    width: 40px;
}
.grid-listing-column-magento_order_num {
    width: 180px;
}
.grid-listing-column-amazon_order_id {
    width: 180px;
}
.grid-listing-column-is_afn_channel {
    width: 120px;
}
.grid-listing-column-reservation_state {
    width: 120px;
}
.grid-listing-column-status {
    width: 120px;
}
.grid-listing-column-amazon_order_items {
    width: 200px;
}
#amazonOrderViewFinalFees_table > tbody > tr:not(:first-child):last-child {
    font-weight: bold;
}

.amazon-order-number-block {
    white-space: nowrap;
    display: flex;
    align-items: center;
    min-width: 160px;
    gap: 3px;
    line-height: 10px;
    margin-bottom: 5px;
}

.amazon-bages-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
}

.amazon-badge {
    cursor: default;
    text-align: center;
    padding: 2px 10px;
    border-radius: 15px;
    font-weight: 600;
    color: #FFF;
}

.amazon-badge.fbm-ship-plus {
    background-color: #2F6FC2;
}
