/* Shipping Policy Styles */

#shipping_local_table,
#shipping_international_table {
    margin: 0 auto;
    table-layout: fixed;
}

#shipping_local_table th,
#shipping_local_table td,
#shipping_international_table th,
#shipping_international_table td {
    overflow: hidden;
    width: 100%;
}

.type-butt  {
    width:33px;
}

#add_local_shipping_method_button,
#add_international_shipping_method_button {
    background-color: #EFEFEF;
    padding: 1em;
    margin: 0 auto;
}

#local_shipping_discount_profile_table select,
#international_shipping_discount_profile_table select {
    width: 90%;
}

#add_local_shipping_method_button > table,
#add_international_shipping_method_button > table {
    margin-left: calc(50% - 115px);
}

.shipping-cost-ca select,
.shipping-cost-additional-ca select {
    width: 155px;
}

#domestic_shipping_fieldset > .field-account_combined_shipping_profile_local > .admin__field-control,
#magento_block_ebay_template_shipping_form_data_international > .field-account_international_shipping_profile_international > .admin__field-control,
#magento_block_ebay_template_shipping_form_data_international > .field-account_combined_shipping_profile_international > .admin__field-control {
    width: calc( 100% - 30px );
}

#local_shipping_discount_profile_table,
#international_shipping_discount_profile_table {
    width: 55%;
    margin-left: 53px;
}

#magento_block_ebay_template_shipping_form_data_exclude_locations_popup_content h4 {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 3px;
}
#exclude_locations_international_regions
{
    float: left;
    width: 300px;
}
#exclude_locations_international_locations
{
    float: left;
    overflow-y: scroll;
    width: 300px;
    background: #e7efef;
}
.checkbox_container {
    display: inline-block;
    padding: 2px 10px;
}
.checkbox_container label {
    margin-left: 2px;
}
.shipping_excluded_location_region_link,
.shipping_excluded_location_region_link label{
    cursor: pointer;
}
#exclude_locations_international_regions .selected_region {
    background: #e7efef;
}
#exclude_locations_international_regions .have_selected_locations > span{
    display: inline-block !important;
    font-style: italic;
    color: grey;
    font-size: 11px;
}

/* Shipping Policy Styles */

/* Payment Policy Styles */

/*#magento_block_ebay_template_payment_form_data_paypal .admin__field-control,*/
/*#pay_pal_immediate_payment_container > .admin__field-control {*/
    /*margin-top: 9px;*/
/*}*/

.addafter[for="pay_pal_mode"],
.addafter[for="pay_pal_immediate_payment"]:before {
    margin-top: 9px;
}

/* Payment Policy Styles */

/* Selling Format Policy Styles */

#price_table_container {
    padding-top: 0.5em !important;
}

table#price_table {
    position: relative;
}

table#price_table tr#price_discount_map_exposure_tr:last-child td {
    border-bottom: none !important;
}

table#price_table:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 0.1em;
    background: #d6d6d6;
}

.price_change_container,
.price_change_container div,
.inline_block,
.price_coefficient_container div {
    display: inline-block;
}
.price_coefficient_container {
    position: absolute;
    left: 250px;
    top: 0;
}
.coef {
    text-align: right;
    width: 80px !important;
    margin: 0 5px;
}
.price_unvalidated {
    border-color: #D40707 !important;
}
#price_table td.value,
#best_offer_respond_table td.value {
    border-width: 0 1px 1px 1px !important;
    border-color: #dadfe0 !important;
    border-style: solid !important;
}
#price_table td.bottom_border_disabled {
    border-width: 0 1px 0 1px!important;
}
tr#price_discount_stp_tr, tr#price_discount_map_tr {
    border-top: #d6d6d6 solid 1px;
}