/* promotion info */
/* ================================================ */
.m2epro-field-tooltip-price-info.admin__field-tooltip .admin__field-tooltip-action:before {
    font-size: 1.5rem;
}

.m2epro-field-tooltip-price-info a.admin__field-tooltip-action:before {
    content: '\e609';
    margin-top: -12px;
}

.m2epro-field-tooltip-price-info.admin__field-tooltip .admin__field-tooltip-action {
    margin-left: -8px;
    display: inline-block;
    text-decoration: none;
}

.m2epro-field-tooltip-price-info.admin__field-tooltip .admin__field-tooltip-content {
    bottom: 40px;
    right: -37px;
    width: 200px;
}
/* ================================================ */

.repricer-strategy-field .admin__field-control {
    float: initial !important;
    margin: auto !important;
}

.m2epro-field-tooltip-repricer .admin__field-tooltip a.admin__field-tooltip-action {
    background: url(../../images/repricing_enabled.png) no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
}

.m2epro-field-tooltip-repricer a.admin__field-tooltip-action:before {
    content: '';
}

.fix-magento-tooltip.m2epro-field-tooltip-repricer {
    float: right;
    text-align: left;
    margin-left: 5px;
}

.m2epro-field-tooltip-repricer.fix-magento-tooltip div.m2epro-field-tooltip .admin__field-tooltip {
    width: 18px !important;
    margin-top: 0 !important;
    right: 0 !important;
}

.m2epro-field-tooltip-repricer.fix-magento-tooltip a.admin__field-tooltip-action {
    width: 18px !important;
    margin-left: 0 !important;
}

.m2epro-field-tooltip-repricer.fix-magento-tooltip div.admin__field-tooltip {
    width: 18px !important;
    margin-top: 0 !important;
    vertical-align: baseline;
    right: 0 !important;
}

.m2epro-field-tooltip-repricer.fix-magento-tooltip div.admin__field-tooltip-content {
    right: -28px !important;
}
