.field-row > .block_notices {
    margin-top: -20px;
}

.field-template_description_edit_category_container a.admin__field-tooltip-action:before,
.field-new_asin_accepted a.admin__field-tooltip-action:before,
#magento_block_template_description_edit_general a.admin__field-tooltip-action:before {
    content: '\e623';
    color: #EB5202;
    font-size: 2rem;
}
#category_warning_messages, #category_warning_messages .m2epro-field-tooltip {
    display: inline;
}
#category_warning_messages .m2epro-field-tooltip a {
    margin-left: 5px;
}
#category_warning_messages .m2epro-field-tooltip .admin__field-tooltip-content {
    right: -23px;
}

#template_description_edit_category_container > .m2epro-field-tooltip {
    width: auto;
}

#template_description_edit_category_container > .m2epro-field-tooltip > .admin__field-tooltip-content:before ,
#template_description_edit_category_container > .m2epro-field-tooltip > .admin__field-tooltip-content:after {
    right: 65px;
}

#select_attributes {
    width: 220px;
}

#item_dimensions_volume_custom_value_tr input[type='text'] ,
#package_dimensions_volume_custom_value input[type='text'] {
    width: 75px;
}

#magento_block_amazon_template_description_keywords input[id^='target_audience_'],
#magento_block_amazon_template_description_keywords input[id^='search_terms_'] ,
#magento_block_amazon_template_description_keywords input[id^='bullet_points_'] {
    width: 200px;
}

#magento_block_amazon_template_description_keywords input[id^='target_audience_'] + .addafter,
#magento_block_amazon_template_description_keywords input[id^='search_terms_'] + .addafter ,
#magento_block_amazon_template_description_keywords input[id^='bullet_points_'] + .addafter {
    position: relative;
}

#magento_block_amazon_template_description_keywords .target_audience_tr .admin__field-control,
#magento_block_amazon_template_description_keywords .search_terms_tr .admin__field-control,
#magento_block_amazon_template_description_keywords .bullet_points_tr .admin__field-control {
    width: calc( (100%) * 0.48 - 30px );
}

#magento_block_amazon_template_description_keywords .field-target_audience_actions .admin__field-control,
#magento_block_amazon_template_description_keywords .field-search_terms_actions .admin__field-control,
#magento_block_amazon_template_description_keywords .field-bullet_points_actions .admin__field-control {
    width: 100%;
}

#target_audience_actions,
#search_terms_actions,
#bullet_points_actions {
    margin-left: 39%;
}

#magento_block_amazon_template_description_keywords a.action-disabled {
    color: gray;
    text-decoration: none;
}

#category_path_span {
    color: initial;
}

/* Chooser Styles */

#selected_category_container {
    border: 1px solid #e3e3e3;
    background-color: #ffffff;
    margin-bottom: 25px;
}

#selected_category_container table td:first-child {
    padding: 1em .5em 1em 1.8rem;
}

#selected_category_container #category_reset_link {
    margin-left: 15px;
}

#chooser_browser {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
}

#chooser_tabs_container {
    height: 250px;
}

#chooser_search_results {
    height: 193px;
    overflow: auto;
    margin-top: 16px;
    border: 1px solid #e3e3e3;
}

#chooser_search_input_container > button:nth-child(2) {
    margin-right: -0.85em;
}

#query {
    width: 520px;
    box-sizing: border-box;
    border: 1px solid #adadad;
    border-radius: 1px;
    padding: 4px;
    color: #303030;
    background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    height: 33px;
}

#search_results_table {
    width: 100%;
}
#search_results_table tr:last-child td {
    border-bottom: 1px solid #fff;
}

#search_results_table td {
    padding: 1em 1.8rem !important;
    border-bottom: 1px solid #e3e3e3;
    background-color: #f8f8f8;
}

#chooser_recent {
    max-height: 230px;
    border: 1px solid #e3e3e3;
    overflow: auto;
}

#chooser_buttons_container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 15px 24px;
}

#chooser_recent_table {
    width: 100%;
}

#chooser_recent_table td {
    padding: 1em 1.8rem !important;
    border-bottom: 1px solid #e3e3e3;
    background-color: #f8f8f8;
}

#chooser_recent_table tr:last-child td {
    border-bottom: 1px solid #f8f8f8;
}

.category-children-block {
    display: inline-block;
    margin-left: 10px;
}

tr.search_results_results_tr td {
    padding: 2px !important;
}

/* Chooser Styles */

.specifics_search_input_container {
    margin-top: 8px;
}

#selected_specifics_container {
    margin-bottom: 30px;
    overflow: auto;
    padding: 15px;
}

#selected_specifics_container .selected_specifics_container_label_container {
    margin-right: 1em;
    float: left;
    margin-top: 5px;
}

#selected_specifics_box {
    text-align: left;
    box-sizing: border-box;
    position: relative;
    vertical-align: top;
    width: 600px;
    padding: 0 2px;
    float: left;
}

#selected_specifics_box > span:not(:last-child) {
    margin-right: 2px;
}

.selected-specific-box-item {
    display: inline-block;
    background: #cdecf6;
    border: 1px solid #a7cedb;
    border-radius: 3px;
    cursor: default;
    height: auto;
    margin: 2px 0;
    padding: 2px 22px 1px 9px;
    position: relative;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
    vertical-align: top;
}
.selected-specific-box-item:hover {
    background: #aae3f5;
}

.selected-specific-box-item .remove-link-button:before {
    content: '\e07d';
    font-family: 'MUI-Icons';
    font-size: 6px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.selected-specific-box-item .remove-link-button {
    bottom: 0;
    color: #7b94a1;
    cursor: pointer;
    line-height: 16px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 20px;
    text-decoration: none;
}

.item-specifics-tr .headings th {
    padding: 1rem 1rem;
}

#specifics_container table.data-grid tr td {
    vertical-align: middle;
    text-align: left;
}

#specifics_container table.data-grid tr td:last-child {
    vertical-align: middle;
    text-align: center;
}

.block-title > div > .specific-remove-button {
    margin-left: 1rem;
}

.legend .specific-remove-button, .legend .specific-add-button, .legend .specific-clone-button {
    margin-left: 5px;
}

a.specific-remove-button, a.specific-add-button, a.tool-tip-image-warning {
    display: inline-block;
    font-size: 1.6rem;
    font-family: 'Admin Icons';
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-decoration: none !important;
}

a.specific-remove-button:hover,
a.specific-clone-button:hover,
a.specific-add-button:hover,
a.tool-tip-image-warning:hover {
    text-decoration: none;
}

a.specific-remove-button:active,
a.specific-clone-button:active,
a.specific-add-button:active,
a.tool-tip-image-warning:active {
    text-decoration: none;
}

a.specific-remove-button:before {
    color: #000;
    content: '\e632';
}

#specifics_container a.tool-tip-image-warning:before {
    color: #eb5202;
    content: '\e623';
}

a.specific-add-button:before {
    color: #000;
    content: '\e61d';
}

.block-title div:nth-child(2) {
    margin: 0 10px;
}

td.specifics-grid {
    overflow: visible;
}

#specifics_container .admin__field-tooltip-content::before,
#specifics_container .admin__field-tooltip-content::after {
    right: 65px;
}

#specifics_container .m2epro-field-tooltip > .admin__field-tooltip-content > span {
    max-height: 250px;
    overflow-y: auto;
    display: block;
}

#regular_price_mode,
#regular_sale_price_mode,
#business_price_mode,
#business_discounts_mode {
    width: 250px;
}

#regular_price_coefficient,
#regular_sale_price_coefficient,
#business_price_coefficient,
#business_discounts_tier_coefficient {
    width: 100px;
}

#regular_price_coefficient_td,
#regular_sale_price_coefficient_td,
#business_price_coefficient_td,
#business_discounts_tier_coefficient_td {
    position: relative;
    left: 65px;
}

label.mage-error[for='regular_price_coefficient'],
label.mage-error[for='regular_sale_price_coefficient'],
label.mage-error[for='business_price_coefficient'],
label.mage-error[for='business_discounts_tier_coefficient'] {
    position: absolute;
    display: block !important;
    width: 150px;
    margin-left: 7px;
}

#regular_sale_price_start_date_value + .ui-datepicker-trigger,
#regular_sale_price_end_date_value + .ui-datepicker-trigger {
    margin-left: -3em;
}

.field-regular_sale_price_end_date_value_validation {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.field-regular_sale_price_end_date_value_validation > .admin__field-control {
    margin-left: calc( (100%) * 0.33333333 + 30px) !important;
}
.field-regular_sale_price_end_date_value_validation + .admin__field {
    margin-top: 0;
}
#regular_sale_price_end_date_value_validation {
    visibility: hidden;
    width: 70% !important;
    margin-top: -44px !important;
    display: block;
    height: 1px;
}

#is_regular_customer_allowed + label.mage-error,
#is_business_customer_allowed + label.mage-error {
    width: 300px !important;
}

#business_discounts_not_set_table {
    background-color: #EFEFEF;
    padding: 1em;
    margin: 0 auto;
}

#business_discounts_not_set_table > table {
    margin-left: calc(50% - 115px);
}

#business_discounts_custom_value_discount_table select {
    width: 100%;
}

.specifics_list_grid_template tr:hover {
    background-color: #FFF;
}
td.specifics-grid {
    padding: 0;
}
#specifics_container .m2epro-field-tooltip {
    float: right;
    width: auto;
}
#specifics_container span ~ .m2epro-field-tooltip {
    margin-top: -5px;
    position: relative;
    top: 4px;
}

/* Shipping Override */
/* ================================================ */

#shipping_override_rule_table {
    margin: 0 auto;
    table-layout: fixed;
}

#shipping_override_rule_table td {
    text-align: center;
}

#shipping_override_rule_table td input,
#shipping_override_rule_table td select {
    width: 100%;
}

#shipping_override_rule_table .mage-error {
    position: relative !important;
    left: auto !important;
    text-align: left;
}

/* ================================================ */