.modal-popup .modal-inner-wrap {
    width: 44%;
}

#account_credentials .admin__fieldset > .admin__field > label.admin__field-label {
    width: calc((100%)* 0.26 - 30px);
}

#account_credentials .admin__fieldset > .admin__field > div.admin__field-control {
    width: calc((100%)* 0.62 - 30px);
}

#account_credentials .admin__fieldset .admin__field .admin__field-control input[type="text"].input-text {
    width: 100%;
}

.admin__field-control input#submit_button {
    background-color: #eb5202;
    border-color: #eb5202;
    color: #ffffff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    font-size: 1.6rem;
    letter-spacing: .025em;
    padding-bottom: 0.6875em;
    padding-top: 0.6875em;
}

.admin__fieldset .field-submit_button > .admin__field-control {
    text-align: right !important;
    margin-right: 30px !important;
    width: calc((100%)* 0.88 - 30px) !important;
}

#account_credentials label.error {
    display: block;
}
