<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- stockitem -->

    <type name="Magento\CatalogInventory\Model\Stock\Item">
        <plugin name="m2epro_plugin_stockitem_magento_cataloginventory_model_stock_item"
                type="Ess\M2ePro\Plugin\StockItem\Magento\CatalogInventory\Model\Stock\Item" />
    </type>

    <!-- order -->

    <type name="Magento\Framework\App\Config">
        <plugin name="m2epro_plugin_order_magento_framework_app_config"
                type="Ess\M2ePro\Plugin\Order\Magento\Framework\App\Config" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="m2epro_plugin_order_magento_quote_model_quote_item_toorderitem"
                type="Ess\M2ePro\Plugin\Order\Magento\Quote\Model\Quote\Item\ToOrderItem" />
    </type>

    <type name="Magento\Quote\Model\Quote\TotalsCollectorList">
        <plugin name="m2epro_plugin_order_magento_quote_model_quote_totalscollectorlist"
                type="Ess\M2ePro\Plugin\Order\Magento\Quote\Model\Quote\TotalsCollectorList" />
    </type>

    <!-- func_get_args() fix - see detailed explanation into the Plugin -->

    <type name="Ess\M2ePro\Helper\Module\Translation">
        <plugin name="m2epro_plugin_functionGetArgsFix_helper_module_translation"
                type="Ess\M2ePro\Plugin\FunctionGetArgsFix\Translation" />
    </type>
</config>