<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">

    <module name="Ess_M2ePro" setup_version="1.3.3">
        <sequence>
            <module name="Magento_Backend" />
            <module name="Magento_Catalog" />
            <module name="Magento_CatalogInventory" />
            <module name="Magento_Config" />
            <module name="Magento_Customer" />
            <module name="Magento_Eav" />
            <module name="Magento_Payment" />
            <module name="Magento_Quote" />
            <module name="Magento_RequireJs" />
            <module name="Magento_Sales" />
            <module name="Magento_SalesSequence" />
            <module name="Magento_Shipping" />
            <module name="Magento_Store" />
            <module name="Magento_Tax" />
        </sequence>
    </module>

</config>