.grid-listing-column-product_name {
    width: 300px;
}
.grid-listing-column-online_qty {
    width: 130px;
}

.grid-listing-column-online_price {
    width: 130px;
}

.admin__data-grid-header ._massaction .form-inline + .admin__grid-massaction {
    margin-left: 0;
}
