<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- external orders -->

    <event name="controller_action_postdispatch_sales_order_view">
        <observer name="m2epro_observer_order_view_before"
                  instance="Ess\M2ePro\Observer\Order\View\Before"
                  shared="false" />
    </event>
    <event name="controller_action_postdispatch_adminhtml_order_shipment_view">
        <observer name="m2epro_observer_shipment_view"
                  instance="Ess\M2ePro\Observer\Shipment\View"
                  shared="false" />
    </event>
    <event name="controller_action_postdispatch_adminhtml_order_invoice_view">
        <observer name="m2epro_observer_invoice_view"
                  instance="Ess\M2ePro\Observer\Invoice\View"
                  shared="false" />
    </event>
    <event name="controller_action_postdispatch_adminhtml_order_creditmemo_view">
        <observer name="m2epro_observer_creditmemo_view"
                  instance="Ess\M2ePro\Observer\CreditMemo\View"
                  shared="false" />
    </event>
    <event name="core_layout_block_create_after">
        <observer name="m2epro_observer_order_view_after"
                  instance="Ess\M2ePro\Observer\Order\View\After"
                  shared="false" />
    </event>

</config>