<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>

        <!-- main tab -->

        <tab id="m2epro" translate="label" sortOrder="450" class="m2e-tab">
            <label>M2E Pro</label>
        </tab>

        <!-- module & channels tab -->

        <section id="m2epro_module_and_channels" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Module &amp; Channels</label>
            <tab>m2epro</tab>
            <resource>Ess_M2ePro::system_configuration</resource>
            <frontend_model>Ess\M2ePro\Block\Adminhtml\System\Config\Sections\ModuleAndChannels</frontend_model>
        </section>

        <!-- interface and magento inventory tab -->

        <section id="m2epro_interface_and_magento_inventory" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Interface &amp; Magento inventory</label>
            <tab>m2epro</tab>
            <resource>Ess_M2ePro::system_configuration</resource>
            <frontend_model>Ess\M2ePro\Block\Adminhtml\System\Config\Sections\InterfaceAndMagentoInventory</frontend_model>
        </section>

        <!-- logs clearing tab -->

        <section id="m2epro_logs_clearing" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Logs Clearing</label>
            <tab>m2epro</tab>
            <resource>Ess_M2ePro::system_configuration</resource>
            <frontend_model>Ess\M2ePro\Block\Adminhtml\System\Config\Sections\LogsClearing</frontend_model>
        </section>

        <!-- extension key tab -->

        <section id="m2epro_extension_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Extension Key</label>
            <tab>m2epro</tab>
            <resource>Ess_M2ePro::system_configuration</resource>
            <frontend_model>Ess\M2ePro\Block\Adminhtml\System\Config\Sections\License</frontend_model>
        </section>

        <!-- migration from magento 1 tab -->

        <section id="m2epro_migration_from_magento1" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Migration from Magento 1</label>
            <tab>m2epro</tab>
            <resource>Ess_M2ePro::system_configuration</resource>
            <frontend_model>Ess\M2ePro\Block\Adminhtml\System\Config\Sections\Migration</frontend_model>
        </section>

        <!-- migration wizard tab -->

        <section id="m2epro_migration_wizard" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Migration from Magento v1.x</label>
            <tab>m2epro</tab>
            <resource>Ess_M2ePro::system_configuration</resource>
            <frontend_model>Ess\M2ePro\Block\Adminhtml\System\Config\Sections\MigrationWizard</frontend_model>
        </section>

        <!-- payment method -->

        <section id="payment">
            <group id="m2epropayment" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>M2E Pro Payment</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
            </group>
        </section>

        <!-- shipping method -->

        <section id="carriers">
            <group id="m2eproshipping" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>M2E Pro Shipping</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
            </group>
        </section>

    </system>

</config>
