/* price info */
/* ================================================ */
.m2epro-field-tooltip-price-info.admin__field-tooltip .admin__field-tooltip-action:before {
    font-size: 1.5rem;
}

.m2epro-field-tooltip-price-info a.admin__field-tooltip-action:before {
    content: '\e61a';
    margin-top: -12px;
}

.m2epro-field-tooltip-price-info.admin__field-tooltip .admin__field-tooltip-action {
    margin-left: -8px;
    display: inline-block;
    text-decoration: none;
}

.m2epro-field-tooltip-price-info.admin__field-tooltip .admin__field-tooltip-content {
    bottom: 40px;
    right: -37px;
    width: 200px;
}
/* ================================================ */

/* Shipping Override */
/* ================================================ */

#amazonTemplateShippingOverrideGrid th.grid-listing-column-action {
    width: 75px;
}

/* ================================================ */

/* Repricing Icons */
/* ================================================ */

.repricing-enabled .admin__field-tooltip a.admin__field-tooltip-action {
    background: url(../../images/repricing_enabled.png) no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
}

.repricing-enabled .admin__field-tooltip .admin__field-tooltip-action:before {
    content: '';
}

.repricing-disabled .admin__field-tooltip a.admin__field-tooltip-action {
    background: url(../../images/repricing_disabled.png) no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
}

.repricing-disabled .admin__field-tooltip .admin__field-tooltip-action:before {
    content: '';
}

.repricing-enabled-disabled .admin__field-tooltip a.admin__field-tooltip-action {
    background: url(../../images/repricing_mixed.png) no-repeat;
    background-size: contain;
    height: 18px;
    width: 18px;
}

.repricing-enabled-disabled .admin__field-tooltip .admin__field-tooltip-action:before {
    content: '';
}

.repricing-enabled.fix-magento-tooltip,
.repricing-disabled.fix-magento-tooltip,
.repricing-enabled-disabled.fix-magento-tooltip {
    width: 18px !important;
    display: inline-block;
}

.repricing-enabled.fix-magento-tooltip div.m2epro-field-tooltip .admin__field-tooltip,
.repricing-disabled.fix-magento-tooltip div.m2epro-field-tooltip .admin__field-tooltip,
.repricing-enabled-disabled.fix-magento-tooltip div.m2epro-field-tooltip .admin__field-tooltip {
    width: 18px !important;
    margin-top: 0 !important;
    right: 0 !important;
}

.repricing-enabled.fix-magento-tooltip a.admin__field-tooltip-action,
.repricing-disabled.fix-magento-tooltip a.admin__field-tooltip-action,
.repricing-enabled-disabled.fix-magento-tooltip a.admin__field-tooltip-action {
    width: 18px !important;
    margin-left: 0 !important;
}

.repricing-enabled.fix-magento-tooltip div.admin__field-tooltip,
.repricing-disabled.fix-magento-tooltip div.admin__field-tooltip,
.repricing-enabled-disabled.fix-magento-tooltip div.admin__field-tooltip {
    width: 18px !important;
    margin-top: 0 !important;
    vertical-align: baseline;
    right: 0 !important;
}

.repricing-enabled.fix-magento-tooltip div.admin__field-tooltip-content,
.repricing-disabled.fix-magento-tooltip div.admin__field-tooltip-content,
.repricing-enabled-disabled.fix-magento-tooltip div.admin__field-tooltip-content {
    right: -28px !important;
}

/* ================================================ */